<div class="frost-object-browser-info-bar">
  {{#if customHeader}}
    {{component customHeader}}
  {{else}}
    {{frost-info-bar
      icon=(component 'frost-icon'
        icon=config.infoBar.icon.name
        pack=config.infoBar.icon.pack
      )
      title=config.infoBar.title
      summary=config.infoBar.summary
      controls=(array
        (component 'frost-button'
          icon='infobar-create'
          text='Create'
          onClick=(action 'onActionBarButtonClick' 'onCreate')
        )
      )
    }}
  {{/if}}
</div>

<div class="frost-object-browser-body">
  <div class="frost-object-browser-facets">
    <div class="frost-object-browser-facets-header">Refined by</div>
    {{#if customFacets}}
      {{component customFacets}}
    {{else}}
      {{frost-bunsen-form
        autofocus=false
        bunsenModel=filterBunsenModel
        bunsenView=filterBunsenView
        onChange=(action "onFilterFormChange")
      }}
    {{/if}}
  </div>

  <div class="frost-object-browser-content">
    {{#if customContent}}
      {{component customContent
        items=items
      }}
    {{else}}
      {{frost-list
        items=itemsForList
        item=(component
          (if customListItem
            customListItem
            (component 'frost-object-browser-list-item'
              bunsenModel=listItemBunsenModel
              bunsenView=listItemBunsenView
              onSelectObjectBrowser=(action 'onItemSelect')
            )
          )
          onCollapse=(action 'onCollapse')
          onExpand=(action 'onExpand')
        )
        expansion=(if expandable
          (component 'frost-list-expansion'
            onCollapseAll=(action 'onCollapseAll')
            onExpandAll=(action 'onExpandAll')
          )
          undefined
        )
        sorting=(if sortableProperties
          (component 'frost-sort'
            sortOrder=activeSorting
            properties=sortableProperties
            onChange=(action 'onSortChange')
          )
          undefined
        )
      }}
    {{/if}}
    <div class="frost-object-browser-actions">
      {{#if customControls}}
        {{#each customControls as |control|}}
          {{component control}}
        {{/each}}
      {{/if}}
      {{#each actionBarButtons as |control|}}
        {{frost-button
          disabled=control.disabled
          priority=control.priority
          size=control.size
          text=control.text
          onClick=(action 'onActionBarButtonClick' control.actionName)
        }}
      {{/each}}
      {{#each actionBarLinks as |link|}}
        {{#frost-link link.route
          disabled=link.disabled
        }}
          {{link.text}}
        {{/frost-link}}
      {{/each}}
    </div>
  </div>
</div>